/.deps
/.python-version
__pycache__
*.o
*.pyc
*.so
*.gcda
*.gcno
*.gcov
*.obj
/*.lib
/c4irp.info
/app_total.info
/array_test
/config.h
/libchirp.a
/.cache
/.coverage
/.cache
/.coverage
/*.c
/libuv.a
/chirp.egg-info/
/chirp/*.c
/*.info
/doc/_build
/src/*.rst
/include/*.rst
/.hypothesis/
/.eggs
/FINJA
/src/*_etest
/src/*.i
/Release
/Debug
/*.pyd
