/.deps
/.python-version
/build
__pycache__
*.o
*.pyc
*.so
*.gcda
*.gcno
*.gcov
/c4irp.info
/app_total.info
/array_test
/config.h
/libc4irp.a
/.cache
/.coverage
/.cache
/.coverage
/c4irp.egg-info/
/c4irp/*.c
/*.info
/doc/_build
